.message
  .message-box グループを作成しました
.layout
  .layout__dashboard
    .dashboard
      .dashboard__header
        .dashboard__name wakugami
        %ul.dashboard__iconWrap
          %li.dashboard__edit
            %a{href: "a"}
              %i.fa.fa-edit
          %li.dashbord__setting
            %a{href: "a"}
              %i.fa.fa-cog

      .dashboard__body
        %ul.dashboard__groupWrap
          %li.dashboard__group
            %a{href: "a"}
              .dashboard__groupName sample1
              .dashboard__groupNewComment Good bye work
          %li.dashboard__group
            %a{href: "a"}
              .dashboard__groupName sample2
          %li.dashboard__group
            %a{href: "a"}
              .dashboard__groupName example
              .dashboard__groupNewComment まだメッセージがありません
  .layout__timeline
    .timeline
      .timeline__header
        .timeline__groupWrap
          .timeline__groupName Sample
          .timeline__membersName Member：wakugami
        %a.timeline__editBtn Edit
      .timeline__body
        %ul
          %li.timeline__bodyList
            .timeline__bodyInfoWrap
              .timeline__bodyName wakugami
              .timeline__bodyDate 2019/04/04(Thu) 14:41:27
            .timeline__bodyMessage これはテストです
          %li.timeline__bodyList
            .timeline__bodyInfoWrap
              .timeline__bodyName wakugami
              .timeline__bodyDate 2019/04/04(Thu) 14:41:27
            .timeline__bodyMessage これはテストです
          %li.timeline__bodyList
            .timeline__bodyInfoWrap
              .timeline__bodyName wakugami
              .timeline__bodyDate 2019/04/04(Thu) 14:41:27
            .timeline__bodyMessage これはテストです
      .timeline__footer
        %form.form
          .form__wrap
            .form__inputWrap
              %input.form__input{placeholder: "type a message"}
              %label.form__inputLabel{for: "upload-icon"}
                %i.fa.fa-picture-o
                %input{type: "file", id: "upload-icon"}
            %input.form__submitBtn{type: "submit", value: "Send"}
