@import "./reset";
@import "font-awesome";

//全体指定

body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

// layout

.layout {
  &_dashboard {
    float: left;
    width: 300px;
  }
  &_timeline {
    float: right;
    width: calc(100vw - 300px);
  }
  &::after {
    content: "";
  clear: both;
  display: block;
  }
}

// message
.message-box {
  background-color: #38AEF0;
  text-align: center;
  color: #fff;
  padding: 4px 0;
  display: none;
}

// dashboard

.dashboard {
  background-color: #2f3e51;
  &_header {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_name {
    font-weight: bold;
  }
  &_iconWrap {
    font-size: 0;
    li {
      display: inline-block;
      font-size: 16px;
      margin-left: 6px;
    }
    i {
      color: #fff;
    }
  }
  &_footer {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  }
}

// timeline
.timeline {
    &_header {
      height: 100px;
    }
    &_body {
      height: calc(100vh - 190px);
      background-color: #fafafa;
    }
    &_footer {
      height: 90px;
      padding: 20px 40px;
      background-color: #dcdcdc;
    }
}


// form
.form {
  &_wrap {
    display: flex;
    justify-content: space-between;
  }
  &_inputWrap {
    flex-grow: 1;
    position: relative;
  }
  &_input {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    color: #434a54;
    border-style: none;
    font-size: 16px;
    position: relative;
  }
  &_submitBtn {
    margin-left: 15px;
    height: 50px;
    padding: 0 30px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  &_inputLabel {
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
